<!-- ======= About Us Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row no-gutters">
            <div class="col-lg-6 video-box">
                <img src="../assets/img/about/about-1.png" class="img-fluid" alt="">
                <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a> -->
            </div>

            <div class="col-lg-6 d-flex flex-column justify-content-center about-content">

                <div class="section-title">
                    <h2>About Us</h2>
                    <p>Globe Apparels is Buying, Trading and Sourcing house which is vertically integrated through its partner Garments Manufacturing & Exporting Units. Globe Apparels provides low-cost sourcing in apparels, home textiles, fashion accessories, decorative accessories, and other goods for companies in the fashion and hospitality industries.</p>
                </div>

                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bx bx-fingerprint"></i></div>
                    <h4 class="title"><a href="">Highly competitive</a></h4>
                    <p class="description">We work with the world’s leading retailers and brands. We offer highly competitive product prices and service fee’s. We also provide Product Development and Design.</p>
                </div>

                <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
                    <div class="icon"><i class="bx bx-gift"></i></div>
                    <h4 class="title"><a href="">Efficiency in Supply Chain Management</a></h4>
                    <p class="description">We are your partner and manage all aspects of your supply chain.</p>
                </div>

            </div>
        </div>

    </div>
</section>
<!-- End About Us Section -->


<!-- ======= About Lists Section ======= -->
<!-- <section class="about-lists">
    <div class="container">

        <div class="row no-gutters">

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up">
                <span>01</span>
                <h4>Lorem Ipsum</h4>
                <p>Ulamco laboris nisi ut aliquip ex ea commodo consequat. Et consectetur ducimus vero placeat</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="100">
                <span>02</span>
                <h4>Repellat Nihil</h4>
                <p>Dolorem est fugiat occaecati voluptate velit esse. Dicta veritatis dolor quod et vel dire leno para
                    dest</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="200">
                <span>03</span>
                <h4> Ad ad velit qui</h4>
                <p>Molestiae officiis omnis illo asperiores. Aut doloribus vitae sunt debitis quo vel nam quis</p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="300">
                <span>04</span>
                <h4>Repellendus molestiae</h4>
                <p>Inventore quo sint a sint rerum. Distinctio blanditiis deserunt quod soluta quod nam mider lando casa
                </p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="400">
                <span>05</span>
                <h4>Sapiente Magnam</h4>
                <p>Vitae dolorem in deleniti ipsum omnis tempore voluptatem. Qui possimus est repellendus est quibusdam
                </p>
            </div>

            <div class="col-lg-4 col-md-6 content-item" data-aos="fade-up" data-aos-delay="500">
                <span>06</span>
                <h4>Facilis Impedit</h4>
                <p>Quis eum numquam veniam ea voluptatibus voluptas. Excepturi aut nostrum repudiandae voluptatibus
                    corporis sequi</p>
            </div>

        </div>

    </div>
</section> -->
<!-- End About Lists Section -->


<!-- ======= Counts Section ======= -->
<!-- <section class="counts section-bg">
    <div class="container">

        <div class="row">

            <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up">
                <div class="count-box">
                    <i class="icofont-simple-smile" style="color: #20b38e;"></i>
                    <span data-toggle="counter-up">232</span>
                    <p>Happy Clients</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="200">
                <div class="count-box">
                    <i class="icofont-document-folder" style="color: #c042ff;"></i>
                    <span data-toggle="counter-up">521</span>
                    <p>Projects</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="400">
                <div class="count-box">
                    <i class="icofont-live-support" style="color: #46d1ff;"></i>
                    <span data-toggle="counter-up">1,463</span>
                    <p>Hours Of Support</p>
                </div>
            </div>

            <div class="col-lg-3 col-md-6 text-center" data-aos="fade-up" data-aos-delay="600">
                <div class="count-box">
                    <i class="icofont-users-alt-5" style="color: #ffb459;"></i>
                    <span data-toggle="counter-up">15</span>
                    <p>Hard Workers</p>
                </div>
            </div>

        </div>

    </div>
</section> -->
<!-- End Counts Section -->